@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import 'ngx-toastr/toastr';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Oswald", serif;
}